


.push{
    color:white;
    background:#17a2b8;
    text-align: center;
    padding-top:2rem;
    padding-bottom:2rem;
}
.container{
    margin-top:10rem;
    /* border: 5px solid #17a2b8; */
    padding-left:10rem;
    padding-right:10rem;
    /* padding-top:3rem; */
    border-radius: 2rem;
}



.waves-effect{
    margin-left:  25rem;
    margin-bottom: 10rem;
    margin-top: 5rem;
}

